<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Web</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/logoPag.png" type="image/png">
</head>
<body>

<header>
    <div class="Logo-titulo">
        <img src="/static/img/image.png" alt="Logo">
        <h1>Bienvenido a mi página web</h1>
    </div>

    <nav class="menu-navegacion">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/pruebas">Pruebas</a></li>
        </ul>
    </nav>
</header>
    
<div class="contenedor-layout">

    <div class="contenido-principal">
        <main>
            <h2>Sección principal</h2>
            <img src="/static/img/banner.png" alt="Imagen decorativa" class="banner">

            <section>
                <h3>¿De qué trata este sitio?</h3>
                <p>
                    Este sitio web ha sido creado para presentar contenido relacionado con la tecnología actual,
                    destacando tendencias digitales, nuevas herramientas, recursos innovadores y conceptos que forman 
                    parte de la evolución tecnológica. Aquí encontrarás información organizada de manera clara y sencilla,
                    como suele ofrecer una página web tradicional.
                </p>
            </section>
        </main>
    </div>

    
    <aside class="lateral-izquierdo">
        <main class="lateral">
            <h2>Segunda Sección </h2>
            <img src="/static/img/banner2.png" alt="Imagen decorativa" class="banner">

            <section>
                <p>
                   Esta página reúne algunas de las herramientas y tecnologías más utilizadas en el desarrollo actual. 
                   Desde plataformas en la nube, entornos de programación y sistemas de control de versiones, 
                   hasta inteligencia artificial y servicios creativos. Cada logo representa parte del ecosistema 
                   digital que impulsa los proyectos modernos y forma la base del aprendizaje tecnológico.
                </p>
                
            </section>
        </main>
    </aside>

</div>

<footer>
    <p>© 2025 Unitecnar - Proyecto Django - Luis_Felipe_D_A</p>
    <p>Sígueme en redes sociales:</p>
    <a href="https://www.facebook.com">Facebook </a> |
    <a href="https://www.twitter.com">Twitter</a> |
    <a href="https://www.instagram.com/luisdiaz19_">Instagram</a>
</footer>

</body>
</html>

<!-- Luis Felipe Diaz A. -->